* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.color_list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  padding: 10px;
  margin: 10px;
}

.colors {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 900;
  box-shadow: 3px 3px 5px #797979, inset 3px 3px 2px #d7d7d75b;
  text-shadow: 0px 0px 10px #000000;
  cursor: pointer;
  text-transform: capitalize;
}

.user_detials {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
  min-height: 200px;
  background: #e4e4e4;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #c4c4c4;
}

/* new css */

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 10px;
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.logo img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.home_page {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #e2e2e2;
  min-height: 100vh;
}

.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 80px;
  background: #fff;
  position: fixed;
  inset: 0;
  z-index: 10;
}

.left_nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand_name {
  font-family: sans-serif;
  color: #5b5b5b;
}

.right_nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.time_box {
  background: #f1f1f1;
  width: 170px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  font-family: sans-serif;
}

.time_box p {
  position: relative;
  width: 25px;
  height: 25px;
  /* background: #797979; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  overflow: hidden;
  transition: all 0.3s;
}

/* .time_box p span:nth-child(2) {
  margin-top: -19px;
} */

.time_box p span {
  transition: all 0.4s;
  font-weight: 900;
}

@keyframes move_top {
  100% {
    top: 0;
  }
}
.time_box p span.active {
  position: absolute;
  top: 18px;
  animation: move_top 0.5s ease-in forwards;
  background: #f1f1f1;
  width: 25px;
}

.sidemenu {
  position: fixed;
  left: 0;
  top: 80px;
  background: #ffff;
  width: 60px;
  overflow: hidden;
  height: calc(100vh - 80px);
  overflow-x: hidden;
  transition: all 0.4s;
  z-index: 10;
}

.sidemenu.active {
  width: 250px;
}

.side_bar {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.side_menu {
  width: 100%;
  position: relative;
}

.inner_menu {
  display: flex;
  align-items: center;
  min-width: 35px;
  height: 40px;
  gap: 5px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.text {
  text-wrap: nowrap;
  text-transform: capitalize;
  font-family: sans-serif;
}

.icon {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  color: blue;
}

.inner_menu:hover {
  background: #f1f1f1;
  transition: 0.3s;
}

.inner_menu.active {
  background: #dcdcdc;
}

.sidemenu .text {
  transition: all 0.4s;
  width: 0;
  overflow: hidden;
}

.sidemenu.active .text {
  width: 100%;
}

.toggle_bar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.inner_bar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: blue;
  color: #fff;
  cursor: pointer;
}

.inner_bar.active {
  background: #f1f1f1;
}

.inner_bar .fas.fa-times {
  display: none;
}

.inner_bar.active .fas.fa-times {
  display: inline-block;
  color: red;
}

.inner_bar.active .fas.fa-bars {
  display: none;
  color: red;
}

.main {
  position: absolute;
  top: 80px;
  left: 60px;
  width: calc(100vw - 60px);
  min-height: calc(100vh - 80px);
  transition: all 0.4s;
}

.main.active {
  left: 250px;
  width: calc(100vw - 250px);
}

.inner_main {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 10px;
}

.section_header {
  width: 100%;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-family: sans-serif;
  text-transform: capitalize;
  font-weight: 600;
}

.head_right {
  margin-right: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: sans-serif;
}

.count {
  display: flex;
  gap: 5px;
  text-transform: capitalize;
  font-weight: 600;
}

.sidemenu.active .inner_menu {
  border-radius: 5px;
}

section.section {
  display: none;
  padding: 10px;
  background: #fff;
  margin-top: 10px;
  border-radius: 5px;
  overflow-x: scroll;
}

section.section.active {
  display: block;
}

.section.all_mails {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #fff;
  border-radius: 5px;
  overflow-x: auto;
}

.all_mails_table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
  font-family: sans-serif;
}

.all_mails_table th {
  background: #333;
  padding: 10px;
  text-align: center;
  color: #fff;
  border-right: 2px solid #fff;
}

td {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #c9d7fc;
}

td.no_td {
  text-align: center;
}

input[type="search"] {
  padding: 10px;
  border-radius: 50px;
  border: 2px solid #5d88ff;
  outline: none;
}

main {
  background: #e2e2e2;
}

/* all contact design .. ! */

.section_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tag_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.tag_btn {
  padding: 10px;
  background: #dfdfdf;
  border-radius: 20px;
  width: 60px;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.2s;
  cursor: pointer;
}

.tag_btn:hover {
  scale: 1.1;
}

.tag_btn.active {
  background: #a8bfff;
}

.contacts {
  margin-top: 15px;
}

/* all contact design .. ! */
